## Default ignored files
#/shelf/
#/workspace.xml
## Editor-based HTTP Client requests
#/httpRequests/
## Datasource local storage ignored files
#/dataSources/
#/dataSources.local.xml

.DS_Store
.idea
.clang
*.iml
*.xml
.ipynb_checkpoints
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.log

#node
node_modules/
**/static/dist/

#vscode
.vscode